<!DOCTYPE html>
<html>
<head>
<title>ChicaGO</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "client/bower_components/angular-material/angular-material.min.css"%}" />
    <link rel="stylesheet" type="text/css" href="{% static "client/app/app.css"%}" />
    <script src="{% static "client/bower_components/angular/angular.min.js" %}"></script>
    <script src="{% static "client/bower_components/angular-material/angular-material.min.js" %}"></script>
    <script src="{% static "client/bower_components/angular-animate/angular-animate.min.js" %}"></script>
    <script src="{% static "client/bower_components/angular-aria/angular-aria.min.js" %}"></script>
    <script src="{% static "client/bower_components/angular-messages/angular-messages.min.js" %}"></script>
    <script src="{% static "client/bower_components/angular-route/angular-route.min.js" %}"></script>
    <script src="{% static "client/bower_components/lodash/lodash.min.js" %}"></script>
    <script src="{% static "client/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js" %}"></script>
    <script src="{% static "client/bower_components/angular-google-maps/dist/angular-google-maps.min.js" %}"></script>
    <script src="{% static "client/app/app.js" %}"></script>
    <script src="{% static "client/app/base.js" %}"></script>
    <script src="{% static "client/app/api.js" %}"></script>
</head>
<body>

<script type="application/javascript">
    angular.module('constants', []).constant('STATIC', function (path) {
        return '{% static "client/" %}'.replace(/\/$/, '') + '/' + path.replace(/^\//, '');

    });
</script>

{% block content %}{% endblock %}

</body>
</html>
