<div flex>
    <md-toolbar>
        <form name="searchControls" layout="row" flex>
            <div flex="33">
                <md-input-container class="md-accent md-hue-2">
                    <label>Navigate</label>
                    <input name="start" ng-model="startAddress">
                    <div ng-messages="searchControls.startAddress.$error" ng-show="searchControls.startAddress.$dirty">
                        <div ng-message="required"></div>
                    </div>
                </md-input-container>
            </div>
            <div flex="33">
                <md-input-container class="md-accent md-hue-2">
                    <label>To</label>
                    <input name="end" ng-model="endAddress">
                    <div ng-messages="searchControls.endAddress.$error" ng-show="searchControls.endAddress.$dirty">
                        <div ng-message="required"></div>
                    </div>
                </md-input-container>
            </div>
            <div flex="33" class="md-accent md-hue-2">
                <md-progress-circular md-mode="indeterminate" md-diameter="48" value="..." ng-show="isWaiting()"></md-progress-circular>
            </div>
        </form>
    </md-toolbar>
    <div flex>
        <ui-gmap-google-map control="mapApi" center="map.center" zoom="map.zoom" events="mapEvents"></ui-gmap-google-map>
    </div>

</div>